.list-group-wrapper {

    // 滚动条变细
    ::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    // 滚动条滑块
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #bfbfbf;
    }
}