.adou-input-wrapper {

    .adou-input {

        &-form-content {
            height: 100%;
            border-radius: 0.375rem;
            // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075); 加上这个在 borderless 情况下底部会有条线
            transition: background-color 0.5s ease, border-color 0.5s ease, box-shadow 0.5s ease;

            .input-box {
                width: 100%;
            }
        }

        &-label-vertical {
            display: flex;
            align-items: self-start;
            justify-content: center;
            flex-direction: column;
        }

        &-label-horizontal {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;

            .adou-input-label-box {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &-label-horizontal-top {
            display: flex;
            justify-content: center;
            align-items: self-start;
            flex-direction: row;
        }

        &-clear-icon-box {
            width: 24px;
            text-align: right;
            display: flex;
            align-items: center;
        }

        &-clear-icon {

            cursor: pointer;
            transition: all 0.3s;
            color: #c6c6cd;

            &:hover {
                transform: scale(1.2);
                color: red !important;
            }
        }
    }
}