.textarea-warpper {

    .label-in-center {
        display: flex;
        align-items: center;
    }

    .label-in-left-top {
        display: flex;

        .label-box {
            display: flex;
            align-items: start;
        }
    }

    .label-box {
        font-size: 14px;
        min-width: 50px;
        max-width: 120px !important;
        flex-wrap: wrap;
    }

    .textarea-form-content {
        display: flex;
        flex: 1;

        .form-control {
            flex: 1;
        }

        .suffix-content-btn {
            border-top-right-radius: 0 !important;
            /* 去掉右上角的圆角 */
            border-bottom-right-radius: 0 !important;
            border-right: none;
            /* 去掉右下角的圆角 */
        }


        .suffix-content-btn-wrapper {
            min-width: 37px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #eee;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
        }

        .suffix-content-btn-wrapper .btn {
            border-top-left-radius: 0;
            /* 去掉左上角的圆角 */
            border-bottom-left-radius: 0;
            /* 去掉左下角的圆角 */
        }

        .suffix-content-text-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }


}